.menu {
    background-color: cornsilk;
}


body, html {
    height: 100%;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}



/* Стили для соц кнопок */


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #0077b5;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

/* Стили для раздела about */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.container {
    padding: 0 16px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
    font-size: 18px;
}

/*button {*/
    /*border: none;*/
    /*outline: 0;*/
    /*display: inline-block;*/
    /*padding: 8px;*/
    /*color: white;*/
    /*background-color: #000;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*width: 100%;*/
    /*font-size: 18px;*/
/*}*/




/* Стиль для футера*/

.text-center {
    text-align: center;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}













/*.col-container {*/
    /*display: table;*/
    /*width: 100%;*/
/*}*/
/*.col {*/
    /*display: table-cell;*/
    /*padding: 16px;*/
/

.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    /*margin-bottom: 30px;*/

}


.bg-3 {
    background-color: #ffffff;
    color: #555555;
}

